In [35]:
#Tutorial used as an inital guide
#https://www.kaggle.com/philculliton/nlp-getting-started-tutorial
import numpy as np 
import pandas as pd
from sklearn import feature_extraction,linear_model, model_selection, preprocessing

In [36]:
train_df = pd.read_csv(r'C:\Users\micha\Kaggle\nlp-getting-started\train.csv')
test_df = pd.read_csv(r"C:\Users\micha\Kaggle\nlp-getting-started\test.csv")

In [37]:
count_vectorizer = feature_extraction.text.CountVectorizer()

In [38]:
train_vectors = count_vectorizer.fit_transform(train_df["text"])
test_vectors = count_vectorizer.transform(test_df["text"])

In [39]:
clf = linear_model.RidgeClassifier()

In [40]:
scores = model_selection.cross_val_score(clf, train_vectors, train_df["target"], cv=3, scoring="f1")
scores

array([0.60387232, 0.57511962, 0.64485082])

In [41]:
clf.fit(train_vectors,train_df["target"])

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)

In [42]:
predictions = clf.predict(test_vectors)
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [47]:
sample_submission = pd.read_csv("C:/Users/micha/kaggle/nlp-getting-started/sample_submission.csv")
sample_submission["target"] = clf.predict(test_vectors)
sample_submission.head()

   id  target
0   0       0
1   2       1
2   3       1
3   9       0
4  11       1

In [48]:
sample_submission.to_csv("submission.csv", index=False)